<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/style.css">
    <title>Title</title>
</head>
<body>
<div th:replace="topMenu :: copy"></div>
<center><h1>Store project</h1></center>
<h2>Description</h2>
<h3>This is simple pet - online store, that have a basic function like:<br></h3>
<h3> add a product, basket, user profile,<br></h3>
<h3>product menu, delete function develop by Levchenko Kyrylo<br></h3>
<h2>Technology</h2>
<h3>Spring Boot, Spring Security, Spring JPA, Spring MVC<br></h3>
<h3>Thymeleaf, MySql, JWT, Maven, Hibernate</h3>
<h2>Contact</h2>
<a href="https://www.linkedin.com/in/kyrylo-levchenko-00906b245/">Linkedin</a>
<a href="https://github.com/bater091">GitHub</a>
</body>
</html>